*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
  }

  :root{
      --cor-de-fundo: rgb(231,134,7);
      --cor-secundaria: rgb(255,255,255);
  }

main h1 {
    font-size: 60px;
    margin: 0;
    color: rgb(0,0,255);
    }
    
h2 {
    font-size:40px;
    }

 body{
    font-family:Roboto sans-serif;
    width: 760px;
    margin: auto;
    text-align: justify;
    background-color: rgb(231,134,7);
    }

 main{
    background-color: rgb(255,255,255);
    padding: 20px;
}

li{
    list-style-type: none;
    display: inline;
    background-color: rgb(0,0,255)
}

li a{
    padding: 20px;
    color: rgb(255,255,255)

}

footer{
    background-color: black;
    height: 50px;
    color: blanchedalmond
}